<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOD PAGE</title>
</head>
<body>
<span> Hello {{request.user}}</span>
<br>

<span> <a href="http://127.0.0.1:8000/add_items/">Add Items</a></span>
<br>
<span> <a href="http://127.0.0.1:8000/update_items/">Update or Delete Items</a></span>
<br>
<span> <a href="http://127.0.0.1:8000/exportissue">Download Issuing Data</a></span>
<br>
<span> <a href="http://127.0.0.1:8000/exportcreation">Download Item Creation Data</a></span>
<br>
<span> <a href="http://127.0.0.1:8000/upload">Upload and create items</a></span>
<br>
<span> <a href="http://127.0.0.1:8000/modlogout/">Logout</a></span>
</body>
</html>