<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update items</title>
</head>
<body>
<main >
    <a href="{% url 'mod' %}">Mod Home</a>
    <h1>List of items</h1>
    <form method='POST' action=''>{% csrf_token %}
    {{form}}
        <input type="submit" value='Search'/>
</form>
<br>

    <table>
  <tr>
    <th>Category</th>
    <th>Item</th>
    <th>Quantity</th>
      <th>Delete</th>
  </tr>
  {% for instance in queryset %}
      <tr>
        <td> {{instance.category}}</td>
    <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name }}</a></td>
    <td>{{instance.quantity}}</td>
          <td><a href="{% url 'delete_items' instance.id %}">Delete</a></td>
  </tr>
      {% endfor %}
</table>

</main>
</body>
</html>